.container {
    margin: 2em;
    padding: 2em 8em;
    background-color: rgba(234, 211, 174, 0.9);
    background-attachment: fixed;
    background-position: 50px 150px;
    background-repeat: no-repeat;
    text-align: center;
}

.container p {
    margin: 2em 0;
}

